[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-tailwind = "==3.6.0"
django-ckeditor = "==6.7.1"
django-htmx = "*"
django-extension = "*"
django-browser-reload = "*"
whitenoise = "*"
django = "*"
dj-database-url = "*"
psycopg2-binary = "*"
gunicorn = "*"
python-decouple = "*"
pillow = "==12.0.0"
opencv-python-headless = "*"

[dev-packages]

[requires]
python_version = "3.11"
