<div class="flex justify-between" id="address_name">
    <div>
        <h6 class="text-lg font-semibold">Addresse</h6>
        <p >{{adresse_entrprise.name}}</p>
    </div>

    <div
        x-data="{ modalOpen: false }"
        @keydown.escape.window="modalOpen = false"
        :class="{ 'z-40': modalOpen }" class="relative w-auto h-auto"
    >
        <button class="h-6 w-6 bg-neutral-900 rounded-md relative"
        @click="modalOpen=true">
            <span class="material-icons md-24 z-10
            rounded-lg absolute -right-1 -top-1">edit</span>
            <span class="material-icons md-36 text-white 
            rounded-lg absolute -right-3 -top-3">edit</span>
        </button>

        <template x-teleport="body">
            <div x-show="modalOpen" class="fixed top-0 left-0 z-[99] flex items-center justify-center w-screen h-screen" x-cloak>
                <div x-show="modalOpen"
                    x-transition:enter="ease-out duration-300"
                    x-transition:enter-start="opacity-0"
                    x-transition:enter-end="opacity-100"
                    x-transition:leave="ease-in duration-300"
                    x-transition:leave-start="opacity-100"
                    x-transition:leave-end="opacity-0"
                    @click="modalOpen=false" class="absolute inset-0 w-full h-full bg-gray-900 bg-opacity-50 backdrop-blur-sm"></div>
                <div x-show="modalOpen"
                    x-trap.inert.noscroll="modalOpen"
                    x-transition:enter="ease-out duration-300"
                    x-transition:enter-start="opacity-0 scale-90"
                    x-transition:enter-end="opacity-100 scale-100"
                    x-transition:leave="ease-in duration-200"
                    x-transition:leave-start="opacity-100 scale-100"
                    x-transition:leave-end="opacity-0 scale-90"
                    class="relative w-full py-6 bg-white shadow-md px-7 bg-opacity-90 drop-shadow-md backdrop-blur-sm sm:max-w-lg sm:rounded-lg">
                    <div class="flex items-center justify-between pb-3">
                        <h3 class="text-lg font-semibold">Modification de l'adresse</h3>
                        <button @click="modalOpen=false" class="absolute top-0 right-0 flex items-center justify-center w-8 h-8 mt-5 mr-5 text-gray-600 rounded-full hover:text-gray-800 hover:bg-gray-50">
                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>  
                        </button>
                    </div>
                    <div class="relative w-auto pb-8">
                        <form class="flex flex-col gap-4"
                            hx-post="{% url 'core:add_address_entreprise' entreprise.id %}" 
                            hx-target="#address_name"
                            hx-swap="outerHTML"
                            hx-trigger="submit"
                            
                        >
                        {% csrf_token %}
                            <div class="w-full ">
                               {{address_form.name}}
                               {{ address_form.name.errors }}
                            </div>
                                <button class="bg-blue-800 hover:bg-blue-600 py-1 px-3 rounded-md text-white
                                w-full">Sauvegarder</button>
                        </form>
                    </div>
                    
                </div>
            </div>
        </template>
    </div>
</div>