{% load static tailwind_tags django_htmx %}

<div class="flex flex-col gap-2 bg-slate-950 w-full min-h-28 rounded-md" id="contact_entrprise" >
    <div class="h-10 flex items-center justify-between w-full py-1 px-3 text-neutral-100">
            <h5 class="font-semibold">Contacts</h5>
            <div
                x-data="{ modalOpen: false }"
                @keydown.escape.window="modalOpen = false"
                :class="{ 'z-40': modalOpen }"
                class="relative w-auto h-auto">
                <button class="px-3 border border-neutral-50 text-white rounded-md
                text-sm h-7 text-center inline-flex justify-center items-center gap-2"
                @click="modalOpen=true">
                    ajouter <span class="text-lg ">+</span>
                </button>

                <template x-teleport="body">
                    <div x-show="modalOpen" class="fixed top-0 left-0 z-[99] flex items-center justify-center w-screen h-screen" x-cloak>
                        <div x-show="modalOpen"
                            x-transition:enter="ease-out duration-300"
                            x-transition:enter-start="opacity-0"
                            x-transition:enter-end="opacity-100"
                            x-transition:leave="ease-in duration-300"
                            x-transition:leave-start="opacity-100"
                            x-transition:leave-end="opacity-0"
                            @click="modalOpen=false" class="absolute inset-0 w-full h-full bg-gray-900 bg-opacity-50 backdrop-blur-sm"></div>
                        <div x-show="modalOpen"
                            x-trap.inert.noscroll="modalOpen"
                            x-transition:enter="ease-out duration-300"
                            x-transition:enter-start="opacity-0 scale-90"
                            x-transition:enter-end="opacity-100 scale-100"
                            x-transition:leave="ease-in duration-200"
                            x-transition:leave-start="opacity-100 scale-100"
                            x-transition:leave-end="opacity-0 scale-90"
                            class="relative w-full py-6 bg-white shadow-md px-7 bg-opacity-90 drop-shadow-md backdrop-blur-sm sm:max-w-lg sm:rounded-lg">
                            <div class="flex items-center justify-between pb-3">
                                <h3 class="text-lg font-semibold">Ajouter un numero de contact</h3>
                                <button @click="modalOpen=false" class="absolute top-0 right-0 flex items-center justify-center w-8 h-8 mt-5 mr-5 text-gray-600 rounded-full hover:text-gray-800 hover:bg-gray-50">
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>  
                                </button>
                            </div>
                            <div class="relative w-auto pb-8">
                                <form class="flex flex-col gap-4"
                                    hx-post="{% url 'core:add_contact_entreprise' entreprise.id %}"
                                    hx-target="#contact_entrprise"
                                    hx-swap="outerHTML"
                                    hx-trigger="submit"
                                  >
                                    {% csrf_token %}
                                    <div>
                                        {{ contact_form.name }}
                                        {{ contact_form.name.errors }}
                                    </div>
                                    <div class="w-full">
                                        {{ contact_form.phone }}
                                        {{ contact_form.phone.errors }}
                                    </div>
                                    <button type="submit" class="bg-blue-800 hover:bg-blue-600 py-1 px-3 rounded-md text-white
                                    w-full">Sauvegarder</button>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </template>
            </div>
    </div>
    <div class="grid md:grid-cols-4 px-3 py-2 gap-4">
    {% for contact in contacts_entreprise %}
        
                <div class="flex flex-col gap-1 border py-1 px-2 rounded-md  text-neutral-100">
                    <div class="text-sm font-light">{{ contact.name }}</div>
                    <div class="flex gap-1 justify-between">
                        <span class="text-sm text-neutral-100">{{ contact.phone }}</span> 
                        <button class="material-icons text-red-700">delete</button>
                    </div>
                </div>
        
    {% endfor %}
    </div>

</div>
