{% load static tailwind_tags django_htmx %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Title</title>
        {% tailwind_css %}
        <link rel="stylesheet" href="{% static 'css/material_icons.css' %}">
        <script src="{% static 'js/alpine.min.js'  %}" defer></script>

        <style>[x-cloak]{display:none}</style>
        {% htmx_script %}
    </head>
    <body>

        {% include "core/public_view/nav.html" %}
        {% block content %}
        {% endblock %}

        {% include "core/public_view/footer.html" %}
    </body>
</html>